@font-face {
	font-family: Microsoft YaHei Bold;
	src: url('../font/Microsoft YaHei Bold.ttf');
}
@font-face {
	font-family: Microsoft YaHei;
	src: url('../font/Microsoft YaHei.ttf');
}

* {
	font-size: 16px;
	color: white;
	font-family: Microsoft YaHei !important;
}

html{
	background-color: #1C1F2E;
	width: 1920px;
	height: 1080px;
	overflow: hidden;
}

body {
	margin: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.hidden {
	display: none;
}

.half {
	width: 50% !important;
	float: left;
}
.half-4em {
	width: calc(calc(100% - 4em) / 2) !important;
}
.one-six-2em {
	width: calc(calc(100% - 2em * 7 - 2px * 12) / 6) !important;
	margin-left: 2em;
}

.pull-left {
	float: left;
}
.pull-right {
	float: right;
}

.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}

.block-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.right {
	float: right;
}

.gray {
	color: #AAAEBB;
}

.red {
	color: red;
}

.green {
	color: limegreen;
}

.blue {
	color: #00CCFF;
	font-size: 1.4em;
}
.blue-normal {
	color: #00CCFF;
	font-size: 1.1em;
}

.white {
	color: white;
}
.white-normal {
	color: white;
	font-size: 87.5%;
}
.white-lg {
	color: white;
	font-size: 120%;
}
.white-max {
	color: white;
	font-size: 160%;
	line-height: 200%;
	margin-top: 0;
}

.number-yellow {
	background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#FCD152), to(#FF9800));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.number-red  {
	background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#FE7642), to(#EF3C30));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.number-blue  {
	background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#629FFC), to(#224E95));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.number-lg {
	font-size: 160%;
	color: #FF9900;
	display: inline-block;
	margin: 0.5em 0 0 0;
}
.number-xs {
	font-size: 100%;
	color: #FF9900;
}
.number-normal {
	font-size: 120%;
	color: #FF9900;
}

.mt-2em {
	margin-top: 2em;
}
.mr-4em {
	margin-right: 4em;
}
.bb-white-1 {
	border-bottom: 1px solid white;
	line-height: 2em;
}

.trend {
	background-color: #0C2F4A;
	display: inline-block;
	line-height: 180%;
	position: relative;
	top: -2em;
	left: 5em;
	width: 4em;
	font-weight: bolder;
}
.trend.trend-up {
	color: #FF0000;
	/*line-height: 180%;*/
}
.trend.trend-down {
	color: #009900;
	/*line-height: 180%;*/
}
.trend > .arrow {
	font-size: 1em;
	font-weight: bolder;
}

.label {
	background-color: #0C2F4A;
	display: inline-block;
	width: calc(100% - 4em);
	line-height: 150%;
	color: #00CCFF;
	font-size: 1.5em;
}
.label > span {
	line-height: calc(150% + 1px);
}

.page-controller {
	position: fixed;
	height: 100%;
	width: 8em;
	top: 0;
	text-align: center;
	padding-top: calc(calc(100% - 100px) / 4);
	opacity: 0;
}
.page-controller.page-controller-prev {
	left: 0;
	background: -moz-linear-gradient(left, #000000 0%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(linear, top left, bottom left, color-stop(0%,#000000), color-stop(100%,rgba(0,0,0,0)));
	background: -webkit-linear-gradient(left, #000000 0%, rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(left, #000000 0%, rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(left, #000000 0%, rgba(0,0,0,0) 100%);
	background: linear-gradient(to right, #000000 0%, rgba(0,0,0,0) 100%);
}
.page-controller.page-controller-next {
	right: 0;
	background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, #000000 100%);
	background: -webkit-gradient(linear, top left, bottom left, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,#000000));
	background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, #000000 100%);
	background: -o-linear-gradient(left, rgba(0,0,0,0) 0%, #000000 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%, #000000 100%);
	background: linear-gradient(to right, rgba(0,0,0,0) 0%, #000000 100%);
}

.dimension-group {
	/*width: calc(1920px * 3);*/
	/*height: 1080px;*/
	width: 400%;
	left: -100%;
	height: calc(100% - 6em - 2.5em - 5em);
	position: relative;
}
.dimension {
	padding: 0 4em;
	width: calc(100% / 4 - 8em);
	float: left;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: 100% calc(100% - 8em);
	background-size: calc(100% - 8em) 100%;
}
#dimension-1 {
	background-image: url("../image/dimension1-background.png");
}
#dimension-2 {
	background-image: url("../image/dimension2-background.png");
}
#dimension-3 {
	background-image: url("../image/dimension3-background.png");
}
#dimension-4 {
	background-image: url("../image/dimension4-background.png");
}

.title {
	height: 6em;
	position: relative;
	top: 0em;
}
/*.title > table {*/
/*position: absolute;*/
/*top: -0.5em;*/
/*left: 10em;*/
/*}*/
.title > img {
	width: 150px;
	height: 70px;
	position: absolute;
	left: 4em;
}
.title > p {
	color: white;
	font-family: Microsoft YaHei Bold !important;
	font-size: 42px;
	text-align: center;
	margin: 1em 0;
}
.title > span {
	position: absolute;
	top: 1em;
	left: 70%;
}
.title-small {
	position: absolute;
	top: 1.7em;
	left: 3230px;
	z-index: 2;
	background-image: url("../image/box-top-right.png");
	background-size: 30em 2em;
	background-repeat: no-repeat;
	width: 30em;
	height: 2em;
	text-align: center;
}
.title-small > span {
	line-height: 2em;
}

.footer {
	height: 5em;
}
.footer > #start-img {
	position: absolute;
	left: 128px;
	bottom: -10px;
	width: 100px;
	height: 100px;
	opacity: 0;
}
.footer > div {
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 39%;
	text-align: center;
}
.footer div > img {
	float: left;
	height: 100%;
}
.footer div > p {
	line-height: 2.4em;
	font-size: 2.3em;
	float: left;
	margin: 0;
}

.page-title {
	color: white;
	font-family: Microsoft YaHei Bold !important;
	font-size: 24px;
	line-height: 24px;
	text-align: center;
	margin: 0 0 1.5em 0;
}

#now-time {
	font-size: 100%;
	color: white !important;
}

.row {
	margin-bottom: 2em;
}

.box {
	display: inline-block;
	width: 100%;
	padding: 2em 0;
	border: 2px solid #797979;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 10px 0 rgba(255, 255, 255, .35);
	-moz-box-shadow: 0 0 10px 0 rgba(255, 255, 255, .35);
	box-shadow: 0 0 10px 0 rgba(255, 255, 255, .35);
	background: -moz-linear-gradient(top, #0C1826 0%, #000000 50%, #0C1826 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0C1826), color-stop(50%,#000000), color-stop(100%,#0C1826));
	background: -webkit-linear-gradient(top, #0C1826 0%, #000000 50%, #0C1826 100%);
	background: -o-linear-gradient(top, #0C1826 0%, #000000 50%, #0C1826 100%);
	background: -ms-linear-gradient(top, #0C1826 0%, #000000 50%, #0C1826 100%);
	background: linear-gradient(to bottom, #0C1826 0%, #000000 50%, #0C1826 100%);
}

.box-opacity {
	background: rgba(0, 0, 0, 0) !important;
	border: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.box-blue {
	background: -moz-linear-gradient(top, #0C1929 0%, #060722 50%, #0C1929 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0C1929), color-stop(50%, #060722), color-stop(100%,#0C1929));
	background: -webkit-linear-gradient(top, #0C1929 0%, #060722 50%, #0C1929 100%);
	background: -o-linear-gradient(top, #0C1929 0%, #060722 50%, #0C1929 100%);
	background: -ms-linear-gradient(top, #0C1929 0%, #060722 50%, #0C1929 100%);
	background: linear-gradient(to bottom, #0C1929 0%, #060722 50%, #0C1929 100%);
}
.box-gray {
	background: #CCCCCC;
}
.box-darkgray {
	background: gray;
}
.box-white {
	background: white;
}
.box-height-xxs {
	height: calc(80px - 1em);
}
.box-height-xs {
	height: calc(150px - 1em);
	padding: 0.5em 0;
}
.box-height-sm {
	height: 150px;
}
.box-height-normal {
	height: calc(300px - 0.5em);
}
.box-height-md {
	height: 300px;
}
.box-height-lg {
	height: 400px;
}
.box-height-xlg {
	height: 500px;
}
.box-height-max {
	height: 830px;
}

@keyframes rotate {
	to {
		transform: rotate(360deg);
		-ms-transform: rotate(360deg);		/* IE 9 */
		-webkit-transform: rotate(360deg);	/* Safari and Chrome */
		-o-transform: rotate(360deg);		/* Opera */
		-moz-transform: rotate(360deg);		/* Firefox */
	}
}

.circle-container {
	height: 100%;
	width: 24.5%;
	display: inline-block;
	text-align: center;
}

.circle {
	position: relative;
	height: 70%;
	vertical-align: middle;
	padding-top: 1em;
}

.circle > img {
	height: 90%;
}

.circle > .circle-background {
	position: absolute;
}

.circle > .circle-inside {
	position: relative;
	animation: rotate 15s linear infinite;
	-moz-animation: rotate 15s linear infinite;	/* Firefox */
	-webkit-animation: rotate 15s linear infinite;	/* Safari 和 Chrome */
	-o-animation: rotate 15s linear infinite;	/* Opera */
}

.circle > span {
	display: block;
	position: relative;
	margin: 0;
	bottom: calc(50% + 0.8em);
}

.circle-container > span {
	display: block;
}

.circle-container .blue {
	margin-top: 0;
}

.statistics {
	float: left;
	text-align: center;
}

.statistics > img {
	height: 60%;
	width: auto;
}

.chart {
	height: 100%;
	width: 100%;
}

.threaten-ranking-line td {
	text-align: center !important;
	line-height: 25px;
	padding: 15px 0;
	vertical-align: middle;
}
.threaten-ranking-line td > div {
	text-align: left !important;
}
.badge {
	color: black;
	font-weight: bolder;
	position: relative;
	top: -0.3em;
	left: calc(calc(20px + 1em) / 2 * -1 - .05em);
}

.threaten-ranking-progress {
	width: 120px;
	height: 20px;
	border-radius: 10px;
	background: -moz-linear-gradient(left, #629FFC 0%, #224E95 100%) !important;
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #629FFC), color-stop(100%, #224E95)) !important;
	background: -webkit-linear-gradient(left, #629FFC 0%, #224E95 100%) !important;
	background: -o-linear-gradient(left, #629FFC 0%, #224E95 100%) !important;
	background: -ms-linear-gradient(left, #629FFC 0%, #224E95 100%) !important;
	background: linear-gradient(to right, #629FFC 0%, #224E95 100%) !important;
}
.threaten-ranking-progress > span {
	margin-left: 10px;
	font-family: Microsoft YaHei Bold !important;
	line-height: 20px;
	position: relative;
	bottom: 3px;
}

.tab-panel {
	height: 100%;
	position: relative;
	left: -100%;
}
.tab-panel div {
	float: left;
	height: 100%;
}
.tab-panel table {
	width: 100%;
	height: 100%;
}

.top3-container {
	float: left;
	height: calc(300px + 2em * 2);
	width: 40%;
}

.top3 {
	height: calc(calc(100% / 3) - 0.35em);
	width: 80%;
	padding: 0;
}

.tab-label-group {
	text-align: center;
	position: absolute;
	color: red;
	top: -14px;
	left: 536px;
	width: 570px;
	height: 30px;
}
.tab-label {
	width: 121px;
	height: 30px;
	color: #AAAEBB;
	float: left;
	margin: 0 34px;
	border-radius: 5px;
	transition: all 1s linear;
	-moz-transition: all 1s linear;
	-webkit-transition: all 1s linear;
	-o-transition: all 1s linear;
	z-index: 2;
	position: relative;
}
.tab-label > img {
	width: 121px;
	height: 30px;
	position: absolute;
	z-index: 100;
	left: 0px;
	opacity: 0.3;
	transition: all 1s linear;
	-moz-transition: all 1s linear;
	-webkit-transition: all 1s linear;
	-o-transition: all 1s linear;
}
.tab-label.active {
	color: white;
	background-color: #333643;
}
.tab-label.active > img {
	opacity: 1;
}
.tab-label > span {
	color: inherit;
	font-size: 18px;
	line-height: 30px;
}
/*.tab-label-background {*/
	/*background: -moz-linear-gradient(top, #0C1826 0%, #000000 50%, #0C1826 100%);*/
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0C1826), color-stop(50%,#000000), color-stop(100%,#0C1826));*/
	/*background: -webkit-linear-gradient(top, #0C1826 0%, #000000 50%, #0C1826 100%);*/
	/*background: -o-linear-gradient(top, #0C1826 0%, #000000 50%, #0C1826 100%);*/
	/*background: -ms-linear-gradient(top, #0C1826 0%, #000000 50%, #0C1826 100%);*/
	/*background: linear-gradient(to bottom, #0C1826 0%, #000000 50%, #0C1826 100%);*/
	/*width: calc(100px + 1em);*/
	/*height: 40px;*/
	/*position: absolute;*/
	/*top: -0.5em;*/
	/*float: left;*/
	/*margin: 0 1em;*/
	/*border: 1px solid white;*/
	/*border-radius: 5px;*/
/*}*/

.tab-large-label-group {
	position: relative;
	top: 18px;
	left: 80px;
	width: 200px;
	height: 718px;
	float: left;
	overflow: hidden;
}
.tab-large-label {
	text-align: center;
	border: 0;
	padding: 0;
	margin-bottom: 16.8px;
	height: 50px;
	background-color: #252839;
	border-left: 10px solid #363B49;
	transition: all .5s linear;
	-moz-transition: all .5s linear;
	-webkit-transition: all .5s linear;
	-o-transition: all .5s linear;
}
.tab-large-label.active {
	border-left: 10px solid #9A9BA2;
	background-color: #3F414E;
	opacity: 1;
}
.tab-large-label > img {
	height: 100% !important;
	opacity: 0.5;
}
.tab-large-label.active > img {
	opacity: 1;
}

.tab-large-panel td {
	padding: 0;
	text-align: center;
}
.tab-large-panel img {
	width: 80%;
}
.tab-large-panel .box-height-xlg {
	margin-top: 1em;
}