.profile-thumbnail {
    position: absolute;
}
.profile-header {
    min-height: 260px;
    margin-left: 280px;
}
div.post-tabs {
    margin-top: 16px;
}
ul.posts {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    border-top: 1px solid #e0e0e0;
}
div.post-tabs ul.posts {
    margin: 0px;
    border-top: none;
}
ul.posts li.post {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.posts li.post:hover {
    background-color: #f0f0f0;
}
div.post-date {
    float: right;
}
div.post-author {
    font-weight: bold;
}
div.post-thumbnail {
    position: absolute;
}
div.post-content {
    margin-left: 48px;
    min-height: 48px;
}
div.post-footer {
    text-align: right;
}
ul.comments {
    list-style-type: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
}
ul.comments li.comment {
    margin-left: 32px;
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;
}
ul.comments li.comment:nth-child(1) {
    border-top: 1px solid #e0e0e0;
}
ul.comments li.comment:hover {
    background-color: #f0f0f0;
}
div.comment-date {
    float: right;
}
div.comment-author {
    font-weight: bold;
}
div.comment-thumbnail {
    position: absolute;
}
div.comment-content {
    margin-left: 48px;
    min-height: 48px;
}
div.comment-form {
    margin: 16px 0px 16px 32px;
}
div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}
div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}
div.flask-pagedown-preview h1 {
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}
.post-body h1 {
    font-size: 140%;
}
.post-body h2 {
    font-size: 130%;
}
.post-body h3 {
    font-size: 120%;
}
.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}

@keyframes rotate {
	to {
		transform: rotate(360deg);
		-ms-transform: rotate(360deg);		/* IE 9 */
		-webkit-transform: rotate(360deg);	/* Safari and Chrome */
		-o-transform: rotate(360deg);		/* Opera */
		-moz-transform: rotate(360deg);		/* Firefox */
	}
}

.circle-container {
	height: 100%;
	width: 24.5%;
	display: inline-block;
	text-align: center;
}

.circle {
	position: relative;
	height: 100px;
	vertical-align: middle;
	padding-top: 1em;
}

.circle > img {
	height: 90%;
}

.circle > .circle-background {
	position: absolute;
}

.circle > .circle-inside {
	position: relative;
	animation: rotate 15s linear infinite;
	-moz-animation: rotate 15s linear infinite;	/* Firefox */
	-webkit-animation: rotate 15s linear infinite;	/* Safari 和 Chrome */
	-o-animation: rotate 15s linear infinite;	/* Opera */
}

.circle > span {
	display: block;
	position: relative;
	margin: 0;
	bottom: calc(50% + 0.8em);
}

.circle-container > span {
	display: block;
}

.circle-container .blue {
	margin-top: 0;
}

.circle-content {
	font-size: 20px;
	line-height: 200%;
}

.threaten-ranking-line td {
	text-align: center !important;
	line-height: 25px;
	padding: 15px 0;
	vertical-align: middle;
}
.threaten-ranking-line td > div {
	text-align: left !important;
    color: white;
}

.badge {
	color: black;
	font-weight: bolder;
	position: relative;
	top: -0.3em;
	left: calc(calc(20px + 1em) / 2 * -1 - .05em);
}

.threaten-ranking-progress {
	width: 120px;
	height: 20px;
	border-radius: 10px;
	background: -moz-linear-gradient(left, #629FFC 0%, #224E95 100%) !important;
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #629FFC), color-stop(100%, #224E95)) !important;
	background: -webkit-linear-gradient(left, #629FFC 0%, #224E95 100%) !important;
	background: -o-linear-gradient(left, #629FFC 0%, #224E95 100%) !important;
	background: -ms-linear-gradient(left, #629FFC 0%, #224E95 100%) !important;
	background: linear-gradient(to right, #629FFC 0%, #224E95 100%) !important;
}
.threaten-ranking-progress > span {
	margin-left: 10px;
	font-family: Microsoft YaHei Bold !important;
	line-height: 20px;
	position: relative;
	bottom: 3px;
}

.chart {
	height: 300% !important;
	width: 100% !important;
	margin: 10px 0 10px 0;
}

body{
	background-color: #333333;
	color: #ffffff;
}

th, td{
	text-align: center;
	vertical-align: center;
}