{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}移动智能终端漏洞数据监控平台{% endblock %}

{% block head %}
    {#{{ super() }}#}
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="shortcut icon" href="../static/images/CAICT.png" type="image/x-icon">
    <link rel="icon" href="../static/images/CAICT.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
{#    <meta name="csrf-token" content="{{ csrf_token() }}">#}
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/echarts.js"></script>
    <script type="text/javascript" src="../static/js/common.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">移动智能终端漏洞数据监控平台</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">主页</a></li>
                    {% if current_user.is_authenticated %}
                        {% if current_user.type in ["admin", "oem"] %}
                            <li><a href="{{ url_for("main.report") }}">报告</a></li>
                        {% endif %}
                        <li><a href="{{ url_for("user.manage") }}">{{ current_user.username }}</a></li>
                        <li><a href="{{ url_for("user.logout") }}">注销</a></li>
                    {% else %}
                        <li><a href="{{ url_for("user.signin") }}">注册</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}

        {% block page_content %}{% endblock %}
    </div>
{% endblock %}