{% extends "base.html" %}
{% block page_content %}
    <div class="page-header">
        <h1>漏洞监控数据总览</h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="row">
                {#            <p class="last-month text-center white" style="font-size: 2em;">2018年2月</p>#}
                <div class="col-md-6 text-center">
                    <h2>检出漏洞数</h2>
                    <h3 id="vuls">0</h3>
                </div>
                <div class="col-md-6 text-center">
                    <h2>检出严重漏洞数</h2>
                    <h3 id="serious-vuls">0</h3>
                </div>
            </div>


            <div id="{{ url_for("main.month_vnum_vseverity_chart")[1:] }}" style="width: 100%;height: 300%;"></div>

            <div id="{{ url_for("main.month_vnum_android_chart")[1:] }}"  style="width: 100%;height: 300%"></div>

            <div id="{{ url_for("main.month_vnum_watching_vids_chart")[1:] }}"  style="width: 100%;height: 300%"></div>

            <div id="{{ url_for("main.android_vnum_vseverity_chart")[1:] }}"  style="width: 100%;height: 300%"></div>

            <div id="{{ url_for("main.kernel_vnum_vseverity_chart")[1:] }}"  style="width: 100%;height: 300%"></div>
            

        </div>

        <div class="col-md-6">

            <div class="text-center row">
                <div class="circle-container col-md-3">
                    <div class="circle">
                        <img class="circle-inside" src="../static/images/circle.png">
                        <span id="span_vul_num_RCE" class="circle-content">0</span>
                    </div>
                    <span>远程代码执行</span>
                </div>
                <div class="circle-container col-md-3">
                    <div class="circle">
                        <img class="circle-inside" src="../static/images/circle.png">
                        <span id="span_vul_num_local_privilege" class="circle-content">0</span>
                    </div>
                    <span>本地提权</span>
                </div>
                <div class="circle-container col-md-3">
                    <div class="circle">
                        <img class="circle-inside" src="../static/images/circle.png">
                        <span id="span_vul_num_kernel" class="circle-content">0</span>
                    </div>
                    <span>系统内核漏洞</span>
                </div>
                <div class="circle-container col-md-3">
                    <div class="circle">
                        <img class="circle-inside" src="../static/images/circle.png">
                        <span id="span_vul_num_system" class="circle-content">0</span>
                    </div>
                    <span>系统库漏洞</span>
                </div>
            </div>

            <div class="text-center row" style="margin:50px 0 50px 0;">
                <div class="col-md-6">
                    <img src="/static/images/phone.png" style="width: 10%;padding-bottom: 12px;">&nbsp;
                    <span id="total-devices" style="font-size: 24px">0</span>&nbsp;款智能终端
                </div>
                <div class="col-md-6">
                    <img src="/static/images/vul.png" style="width: 10%;padding-bottom: 12px;">&nbsp;
                    <span id="total-vids" style="font-size: 24px">0</span>个漏洞
                </div>
            </div>

            <div id="{{ url_for("main.vnum_vseverity_pie")[1:] }}"  style="width: 100%;height: 300%"></div>

            <div id="{{ url_for("main.dnum_vnum_pie")[1:] }}"  style="width: 100%;height: 300%"></div>

            <div id="{{ url_for("main.vnum_vtype_pie")[1:] }}"  style="width: 100%;height: 300%"></div>

            <div class="text-center">
                <h3>漏洞检出次数排行</h3>
                <div class="row">
                    <table class="table">
                        <tbody id="first-five" class="col-md-6">

                        </tbody>


                        <tbody id="last-five" class="col-md-6">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% if current_user.type in ["admin", "oem"] %}
        <div class="page-header">
            <h1>产业链安全现状</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div id="{{ url_for("main.vendor_vnum_vseverity_chart")[1:] }}"  style="width: 100%;height: 300%"></div>


            </div>
            <div class="col-md-6">
                <div class="text-center" style="margin: 0 0 50px 0;">
                    <p style="font-size: 18px;margin: 0;margin-bottom: 30px;">产品风险排行</p>
                    <table class="text-center" style="border-collapse: collapse;width: 100%;margin-left: 5%;height: auto;">
                        <thead>
                        <tr>
                            <th>排名</th><th>产品型号</th><th>厂商</th><th>检出漏洞数量</th>
                        </tr>
                        </thead>
                        <tbody id="{{ url_for("main.dinfo_vnum_rank")[1:] }}" style="vertical-align: top;">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <!-- project javascripts -->
    <script type="text/javascript" src="/static/js/ChartRender.js"></script>

    <script>
        $(function() {
            // 直方图
            MonthVnumVseverityChart();
            MonthVnumAndroidChart();
            MonthVnumWatchingVidsChart();
            AndroidVnumVseverityChart();
            KernelVnumSeverityChart();

            // 饼图
            VnumVseverityPie();
            DnumVnumPie(5, 10, 15, 20);
            VnumVtypePie();

            // 排行
            VinfoVnumRank();

            // 其他
            totals();
            VinfoKeywordsCount();
        });

        function MonthVnumVseverityChart() {

            $.getJSON("{{ url_for("main.month_vnum_vseverity_chart") }}", function(res) {
                var option = initDefaultChart("bar", "按月份和漏洞等级统计", res.legend, res.x, res.y);
                var chart = echarts.init($('#{{ url_for("main.month_vnum_vseverity_chart")[1:] }}')[0]);
                chart.setOption(option);
            });
        }

        function MonthVnumAndroidChart() {
            $.getJSON("{{ url_for("main.month_vnum_android_chart") }}", function(res) {
                var option = initDefaultChart("bar", "按月份和Android版本统计", res.legend, res.x, res.y);
                var chart = echarts.init($('#{{ url_for("main.month_vnum_android_chart")[1:] }}')[0]);
                chart.setOption(option);
            });

        }

        function MonthVnumWatchingVidsChart() {
            $.getJSON("{{ url_for("main.month_vnum_watching_vids_chart") }}", function(res) {
                var option = initDefaultChart("line", "按月份和典型漏洞统计", res.legend, res.x, res.y);
                var chart = echarts.init($('#{{ url_for("main.month_vnum_watching_vids_chart")[1:] }}')[0]);
                chart.setOption(option);
            });
        }

        function AndroidVnumVseverityChart() {
            // 按版本统计漏洞数
            $.getJSON("{{ url_for("main.android_vnum_vseverity_chart") }}", function(res) {
                var option = initDefaultChart("bar", "按Android版本统计", res.legend, res.x, res.y);
                var chart = echarts.init($('#{{ url_for("main.android_vnum_vseverity_chart")[1:] }}')[0]);
                chart.setOption(option);
            });
        }

        function KernelVnumSeverityChart() {
            $.getJSON("{{ url_for("main.kernel_vnum_vseverity_chart") }}", function(res) {
                var option = initDefaultChart("bar", "按Linux内核版本统计", res.legend, res.x, res.y);
                var chart = echarts.init($('#{{ url_for("main.kernel_vnum_vseverity_chart")[1:] }}')[0]);
                chart.setOption(option);
            });
        }



        function VnumVseverityPie() {
            $.getJSON("{{ url_for("main.vnum_vseverity_pie") }}", function(res) {
                // res = [10, 10, 10, 10];
                var option = initDefaultPie("按等级分布", res.legend, res.x);
                var pie = echarts.init($('#{{ url_for("main.vnum_vseverity_pie")[1:] }}')[0]);
                pie.setOption(option);
            });
        }

        function DnumVnumPie() {
            {#var legend = ['漏洞数量<' + level1, '漏洞数量在' + level1 + '-' + level2 +'之间', '漏洞数量>' + level2];#}

            $.getJSON("{{ url_for("main.dnum_vnum_pie") }}", {"level":JSON.stringify(Array.prototype.slice.call(arguments))}, function(res) {
                var option = initDefaultPie("按终端数量分布", res.legend, res.x);
                var pie = echarts.init($('#{{ url_for("main.dnum_vnum_pie")[1:] }}')[0]);
                pie.setOption(option);
            });
        }

        function VnumVtypePie() {
            $.getJSON("{{ url_for("main.vnum_vtype_pie") }}", function(res) {
                var option = initDefaultPie("按类型分布", res.legend, res.x);
                var pie = echarts.init($('#{{ url_for("main.vnum_vtype_pie")[1:] }}')[0]);
                pie.setOption(option);
            });
        }

        function VinfoVnumRank() {
            $.getJSON("{{ url_for("main.vinfo_vnum_rank") }}", function(res) {
                var max = Math.max.apply(null, res.count);
                var min = Math.min.apply(null, res.count);

                for (var i = 0; i < 10; i++) {
                    var tr = $('<tr class="threaten-ranking-line">');
                    switch(i) {
                        case 0:
                            tr.append($('<td width="5%"><img src="/static/images/10-1.png"></td>'));
                            break;
                        case 1:
                            tr.append($('<td width="5%"><img src="/static/images/10-2.png"></td>'));
                            break;
                        case 2:
                            tr.append($('<td width="5%"><img src="/static/images/10-3.png"></td>'));
                            break;
                        default:
                            tr.append($('<td width="5%">' + (i + 1) + '</td>'));
                            break;
                    }
                    tr.append($('<td width="45%">' + res.vul[i] + '</td>'));
                    var width = 50 + (res.count[i] - min) / (max - min) * 50;
                    tr.append($('<td width="50%"><div class="threaten-ranking-progress" style="width: ' + width + 'px;"><span>' + res.count[i] + '</span></div></td>'));
                    if (i < 5) {
                        $("#first-five").append(tr);
                    } else {
                        $("#last-five").append(tr);
                    }
                }
            });
        }

        function totals() {
            $.getJSON("{{ url_for("main.totals") }}", function(res) {
                $("#total-devices")[0].innerText = res["total-devices"];
                $("#total-vids")[0].innerText = res["total-vids"];

                $("#vuls")[0].innerText = res["total-vuls"];
                $("#serious-vuls")[0].innerText = res["serious-vuls"];
            });
        }

        function VinfoKeywordsCount() {
            var keywords = ["提权", "远程代码执行", "系统库", "内核"];
            $.getJSON("{{ url_for("main.vinfo_keywords_count") }}", {keywords: keywords.join("#")}, function (vuln_type) {
                $('#span_vul_num_RCE').html(vuln_type['远程代码执行']);
                $('#span_vul_num_local_privilege').html(vuln_type['提权']);
                $('#span_vul_num_kernel').html(vuln_type['内核']);
                $('#span_vul_num_system').html(vuln_type['系统库']);
            });
        }

    </script>
    {% if current_user.type in ["admin", "oem"] %}
        <script>
            $(function(){
                DinfoVnumRank();
            });

            function DinfoVnumRank() {
                $.getJSON("{{ url_for("main.dinfo_vnum_rank") }}", function(res) {
                    for (var i = 0; i < res.product.length; i++) {
                        tr = $('<tr/>');
                        tr.append($("<td style='padding-top: 25px;'>" + (i+1) + "</td>"));
                        tr.append($("<td style='padding-top: 25px;'>" + res.product[i] + "</td>"));
                        tr.append($("<td style='padding-top: 25px;'>" + res.vendor[i] + "</td>"));
                        tr.append($("<td style='padding-top: 25px;'>" + res.vuls[i] + "</td>"));
                        $('#{{ url_for("main.dinfo_vnum_rank")[1:] }}').append(tr);
                    }
                });
            }

        </script>
        {% if current_user.type == "admin" %}
            <script>
                $(function(){
                    VendorVnumVseverityChart("main");
                });
                function VendorVnumVseverityChart(mode) {
                    // 按oem统计漏洞数
                    $.getJSON("{{ url_for("main.vendor_vnum_vseverity_chart") }}", {mode: mode}, function(res) {
                        var maxLength = 6;
                        for (var i = 0; i < res.x.length; i++) {
                            if (res.x[i].length > maxLength) {
                                res.x[i] = res.x[i].substring(0, maxLength) + "..";
                            }
                        }
                        var option = initDefaultChart("bar", "按厂商统计", res.legend, res.x, res.y);
                        var chart = echarts.init($('#{{ url_for("main.vendor_vnum_vseverity_chart")[1:] }}')[0]);
                        chart.setOption(option);
                    });
                }

            </script>
        {% endif %}
    {% endif %}
{% endblock %}