{% extends "base.html" %}
{% block page_content %}
    <div class="col-md-4 col-md-offset-4 form-group">
        <form role="form" action="{{ url_for("user.login") }}" method="post">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form.errors, hiddens="only") }}
            <div class="form-group">
                {{ wtf.form_field(form.username, class="form-control", placeholder=form.username.label.text) }}
            </div>
            <div class="form-group">
                {{ wtf.form_field(form.password, class="form-control", placeholder=form.password.label.text) }}
            </div>
            {{ wtf.form_field(form.submit, class="btn btn-primary btn-block") }}
        </form>
    </div>
{% endblock %}
