{% extends "base.html" %}
{% block page_content %}
    <div class="page-header">
        <h1>用户管理</h1>
    </div>
    <div class="row">
        <div class="col-md-2">
            <h2>修改密码</h2>
        </div>
        <div class="col-md-3 col-md-offset-4">
            <div class="form-group">
                <input type="password" id="new_password" placeholder="新密码" class="form-control">
            </div>
            <div class="form-group">
                <input type="password" id="check_password" placeholder="确认密码" class="form-control">
            </div>
            <div class="form-group text-right">
                <button class="btn btn-primary" onclick="changeInfo('password')">修改密码</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <h2>修改邮箱</h2>
        </div>
        <div class="col-md-3 col-md-offset-4">
            <div class="form-group">
                <input type="text" id="new_email" placeholder="新邮箱" value="{{ current_user.email }}" class="form-control">
            </div>
            <div class="form-group text-right">
                <button class="btn btn-primary" onclick="changeInfo('email')">修改邮箱</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <h2>修改手机</h2>
        </div>
        <div class="col-md-3 col-md-offset-4">
            <div class="form-group">
                <input type="text" id="new_phone" placeholder="新手机号" value="{{ current_user.phone }}" class="form-control">
            </div>
            <div class="form-group text-right">
                <button class="btn btn-primary" onclick="changeInfo('phone')">修改手机</button>
            </div>
        </div>
    </div>
    {% if current_user.type == "oem" %}
        <div class="row">
            <div class="col-md-2">
                <h2>厂商信息</h2>
            </div>
            <div class="col-md-3 col-md-offset-4">
                <div class="form-group">
                    <input type="text" id="new_vendor" placeholder="新厂商信息" class="form-control" value="{{ current_user.vendor }}">
                </div>
                <div class="form-group text-right">
                    <button id="change_vendor" class="btn btn-primary" onclick="changeVendor()">修改厂商信息</button>
                </div>
            </div>
        </div>
    {% endif %}
    {% if current_user.type == "admin" %}
        <div class="row">
            <div class="col-md-2">
                <h2>用户管理</h2>
            </div>
            <div class="col-md-10">
                <table class="table">
                    <thead>
                    <tr>
                        <td><input id="check_all" type="checkbox" value="check_all"></td>
                        <th>用户名</th>
                        <th>厂商名</th>
                        <th>邮箱</th>
                        <th>手机号</th>
                        <th>操作</th>
                    </tr>

                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td><input name="oem" type="checkbox" value="{{ user.username }}"></td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.vendor }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.phone }}</td>
                            <td>
                                <button class="btn btn-primary" data-toggle="collapse" data-target="#{{ user.username }}">详细信息</button>
                                <button class="btn btn-primary" onclick="manageOEM('reset', '{{ user.username }}')">重置密码</button>
                                {% if user.state == "inactive" %}
                                    <button class="btn btn-primary" onclick="manageOEM('active', '{{ user.username }}')">激活用户</button>
                                {% else %}
                                    <button class="btn btn-primary" onclick="manageOEM('freeze', '{{ user.username }}')">冻结用户</button>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="10">
                                <div id="{{ user.username }}" class="collapse">
                                    <table class="table" style="background-color: transparent">
                                        <tbody>
                                            <tr>
                                                <td>厂商名</td>
                                                <td><input class="form-control" type="text" id="{{ user.username }}_vendor" value="{{ user.vendor }}"></td>
                                                <td><button class="btn btn-primary" onclick="manageOEM('change_vendor', '{{ user.username }}')">修改</button></td>
                                            </tr>
                                        <tr>
                                                <td>关注漏洞</td>
                                                <td><input class="form-control" type="text" id="{{ user.username }}_watching_vids" value="{{ ",".join(user.options["watching_vids"]) }}"></td>
                                                <td><button class="btn btn-primary" onclick="manageOEM('change_watching_vids', '{{ user.username }}')">修改</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="form-group">
                    <label for="watching_vids">请填写需要让用户关注的漏洞编号，用英文逗号分割</label>
                    <input id="watching_vids" type="text" class="form-control" value="{{ ",".join(current_user.options["watching_vids"]) }}">
                </div>
                <div class="form-group text-right">
                    <button class="btn btn-primary" onclick="manageOEM('change_watching_vids', '')">修改选中的用户</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <h2>漏洞管理</h2>
            </div>
            <div class="col-md-10">
                <table id="vul_table" class="table">
                    <thead>
                    <tr>
                        <th>漏洞编号</th>
                        <th>漏洞名称</th>
                        <th>漏洞类型</th>
                        <th>漏洞等级</th>
                        <th>漏洞公布日期</th>
                        <th>漏洞描述</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for vul in vuls %}
                        <tr>
                            <td>{{ vul["vid"] }}</td>
                            <td>{{ vul["name"] }}</td>
                            <td>{{ vul["type"] }}</td>
                            <td>{{ vul["severity"] }}</td>
                            <td>{{ vul["pub_date"] }}</td>
                            <td>{{ vul["description"] }}</td>
                            <td><button type="button" class="btn btn-primary">操作</button> </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        function changeInfo(mode) {
            var modes = {"password":"密码", "email":"邮箱", "phone":"手机"};
            var data;
            if (mode == "password") {
                var new_password = $("#new_password")[0];
                var check_password = $("#check_password")[0];
                if (new_password.value.length < 4) {
                    alert("密码需要至少输入4个字符");
                    return;
                }
                if (new_password.value != check_password.value) {
                    alert("两次输入密码不相符！");
                    return;
                }

                data = new_password.value;
            } else if (mode == "email") {
                data = $("#new_email")[0].value;
            } else if (mode == "phone") {
                data = $("#new_phone")[0].value;
            }

            $.post("{{ url_for("user.manage") }}", {mode:"change_" + mode, data:data}, function(res) {
                if (res == "OK") {
                    alert(modes[mode] + "修改成功");
                    window.location.reload();
                } else {
                    alert(modes[mode] + "修改失败");
                }
            });
        }

    </script>
    {% if current_user.type == "oem" %}
        <script>
            function changeVendor() {
                var new_vendor = $("#new_vendor")[0];
                var change_vendor = $("#change_vendor")[0];
                if (confirm("修改厂商信息会使账户暂时冻结，是否继续进行？")) {
                    $.post("{{ url_for("user.manage") }}", {mode:"change_vendor", new_vendor:new_vendor.value}, function(res) {
                        if (res == "OK") {
                            alert("信息修改成功，账户已冻结，请联系管理员及时激活");
                            location.href = "{{ url_for("user.logout") }}";
                        } else {
                            alert("信息修改失败");
                        }
                    });
                }

            }
        </script>
    {% endif %}
    {% if current_user.type == "admin" %}
        <script>
            $(function () {
               $("#check_all").change(function () {
                   if (this.checked) {
                       $("input[name='oem']:checkbox").each(function () {
                           this.checked = true;
                       });
                   } else {
                       $("input[name='oem']:checkbox").each(function () {
                           this.checked = false;
                       });
                   }
               });
            });

            function manageOEM(mode, username) {
                modes = {"reset":"重置密码为用户名", "active":"激活账户", "freeze":"冻结账户", "change_watching_vids":"修改关注漏洞", "change_vendor":"修改厂商信息"};
                user = username.length > 0 ? username : "选中的用户";
                var data;
                if (mode == "change_watching_vids"){
                    if (username == "") {
                        username = [];
                        $("input[name='oem']:checked").each(function () {
                           username.push(this.value);
                        });
                        if (username.length == 0) {
                            alert("没有设备被选中");
                            return;
                        }
                        data = $.trim($("#watching_vids")[0].value).split(",");
                    }
                    else {
                        data = $.trim($("#" + username + "_watching_vids")[0].value).split(",");
                        username = [username];
                    }
                    username = JSON.stringify(username);
                    data = JSON.stringify(data);
                } else if (mode == "change_vendor") {
                    data = $.trim($("#" + username + "_vendor")[0].value);
                }

                if (confirm("确认对 " + user + " 进行 " + modes[mode] + " ?")) {

                    $.post("{{ url_for("user.manage") }}", {mode:mode, username:username, data:data}, function(res) {
                        if (res == "OK") {
                            alert("已 " + modes[mode]);
                            window.location.reload();
                        } else {
                            alert(modes[mode] + " 失败");
                        }
                    });
                }

            }

        </script>
    {% endif %}
{% endblock %}