{% extends "base.html" %}
{% block page_content %}
    <div class="page-header">
        <h1>修改个人信息</h1>
    </div>
    <div class="col-md-4 col-md-offset-4 form-group">
        <form role="form" action="{{ url_for(".profile", username=user.username)}}" method="post">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form.errors, hiddens="only") }}
            {% if user.type == "oem" %}
                <div class="form-group">
                    {{ wtf.form_field(form.vendor, class="form-control", placeholder=form.vendor.label.text, value=user.vendor) }}
                </div>
            {% endif %}
            <div class="form-group">
                {{ wtf.form_field(form.email, class="form-control", placeholder=form.email.label.text, value=user.email) }}
            </div>
            <div class="form-group">
                {{ wtf.form_field(form.phone, class="form-control", placeholder=form.phone.label.text, value=user.phone) }}
            </div>
            {{ wtf.form_field(form.submit, class="btn btn-primary btn-block") }}
        </form>
    </div>
{% endblock %}

