{% extends "base.html" %}
{% block page_content %}
    <div class="page-header">
        <h1>报告查看</h1>
        一共{{ total_num }}条记录，当前查看的是第{{ limits[0] }}-{{ limits[0] + limits[1] }}条记录<br>
        点击查看报告详情
    </div>

    <table class="table text-center">
        <thead>
        <tr>
            <th>任务编号</th>
            <th>检测时间</th>
            <td>设备ID</td>
            <td>厂商</td>
            <td>Android版本</td>
            <td>内核版本</td>
            <td>应用二进制接口</td>
            <td>操作</td>
        </tr>
        </thead>
        <tbody id="tasks">
        {% for task in tasks %}
            <tr>
                <td>{{ task["tid"] }}</td>
                <td>{{ task["time"] }}</td>
                <td>{{ task["device_id"] }}</td>
                <td>{{ task["vendor"] }}</td>
                <td>{{ task["android_version"] }}</td>
                <td>{{ task["kernel"] }}</td>
                <td>{{ task["abi"] }}</td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#{{ task["tid"] }}">查看详情</button>
                    <button type="button" class="btn btn-primary" onclick="tableToCSV('{{ task["tid"] }}')">报告下载</button>
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    <div id="{{ task["tid"] }}" class="collapse">
                        <table id="{{ task["tid"] }}_table" class="table table-bordered" style="background-color: transparent">
                            <thead>
                            <tr>
                                <th>漏洞编号</th>
                                <th>漏洞名称</th>
                                <th>漏洞类型</th>
                                <th>漏洞等级</th>
                                <th>漏洞公布日期</th>
                                <th>漏洞描述</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for vul in task["vuls"] %}
                                <tr>
                                    <td>{{ vul["vid"] }}</td>
                                    <td>{{ vul["name"] }}</td>
                                    <td>{{ vul["type"] }}</td>
                                    <td>{{ vul["severity"] }}</td>
                                    <td>{{ vul["pub_date"] }}</td>
                                    <td>{{ vul["description"] }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="pager">
        <li class="previous">
            <a id="older" href="">上一页</a>
        </li>
        <li class="next">
            <a id="newer" href="">下一页</a>
        </li>
    </ul>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(function () {
            var limits = {{ limits }};
            var older = $("#older");
            var newer = $("#newer");

            if (limits[0] == 0) {
                older.hide();
            }

            if ($("#tasks").find("div.collapse").length < limits[1]) {
                newer.hide();
            }

            older.attr("href", "{{ url_for("main.report") }}?limits=" + (limits[0] - limits[1]) + "-" + limits[1]);

            newer.attr("href", "{{ url_for("main.report") }}?limits=" + (limits[0] + limits[1]) + "-" + limits[1]);
        });

        function tableToCSV(tid) {
            var titles = [];
            var data = [];

            /*
             * Get the table headers, this will be CSV headers
             * The count of headers will be CSV string separator
             */
            $('#' + tid + ' th').each(function() {
                titles.push($(this).text());
            });

            /*
             * Get the actual data, this will contain all the data, in 1 array
             */
            $('#' + tid + ' td').each(function() {
                data.push($(this).text());
            });

            /*
             * Convert our data to CSV string
             */
            var CSVString = prepCSVRow(titles, titles.length, '');
            CSVString = prepCSVRow(data, titles.length, CSVString);

            /*
             * Make CSV downloadable
             */
            var downloadLink = document.createElement("a");
            var blob = new Blob(["\ufeff", CSVString]);
            var url = URL.createObjectURL(blob);
            downloadLink.href = url;
            downloadLink.download = tid + ".csv";

            /*
             * Actually download CSV
             */
            document.body.appendChild(downloadLink);
            downloadLink.click();
            document.body.removeChild(downloadLink);
        }

        /*
        * Convert data array to CSV string
        * @param arr {Array} - the actual data
        * @param columnCount {Number} - the amount to split the data into columns
        * @param initial {String} - initial string to append to CSV string
        * return {String} - ready CSV string
        */
        function prepCSVRow(arr, columnCount, initial) {
            var row = ''; // this will hold data
            var delimeter = ','; // data slice separator, in excel it's `;`, in usual CSv it's `,`
            var newLine = '\r\n'; // newline separator for CSV row

            /*
             * Convert [1,2,3,4] into [[1,2], [3,4]] while count is 2
             * @param _arr {Array} - the actual array to split
             * @param _count {Number} - the amount to split
             * return {Array} - splitted array
             */
            function splitArray(_arr, _count) {
                var splitted = [];
                var result = [];
                _arr.forEach(function(item, idx) {
                    if ((idx + 1) % _count === 0) {
                        splitted.push(item);
                        result.push(splitted);
                        splitted = [];
                    } else {
                        splitted.push(item);
                    }
                });
                return result;
            }
            var plainArr = splitArray(arr, columnCount);
            // don't know how to explain this
            // you just have to like follow the code
            // and you understand, it's pretty simple
            // it converts `['a', 'b', 'c']` to `a,b,c` string
            plainArr.forEach(function(arrItem) {
                arrItem.forEach(function(item, idx) {
                    row += item + ((idx + 1) === arrItem.length ? '' : delimeter);
                });
                row += newLine;
            });
            return initial + row;
        }
    </script>
{% endblock %}